


html {
  scroll-behavior: smooth;
}

.homepage {
  margin : 0;
}

/* navigation bar*/

.topnav {
  overflow: hidden;
  align-items: center;
  display : flex;
  flex-direction: row;
  background-color: #4e8aca;
  justify-content: space-between;
  padding-right : 15px;
  padding-left: 10px;

  color : white;
  text-decoration: none;
  position:fixed;
  top:0px;
  z-index: 1000;
  width:100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);

}


.ewblogo img {
  display:block;
  height: 150px;
  width:160px;
  margin-top: -30px;
  margin-bottom: -10px;
}
  

.navLinks a {
  color : black;
  text-decoration: none;
  font-size: 25px;
  background-color: white;
  padding-right : 25px;
  padding-left: 25px;
  border-radius: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Podkova', serif;
  transition: background-color 0.3s;
}

.navLinks a:hover {
  background-color: #4e8aca;
  color : white;
  cursor:pointer;
}

a.active {
  background-color: #4e8aca;
  color : white;
}

/**********************************************/
/* code for hamburger icon for smaller screens*/
.menuIcon {
  display: none;
  width: 3px;
  height: 3px;
}

.hamMenu {
  display: none;
  position:fixed;
  top:85px;
  z-index: 1000;
  width:100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px -6px rgba(0,0,0,0.35);
  padding-top: 17px;
}



.navContainer{
  display:none;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;
  }

@media screen and (max-width: 875px) {
  .navLinks {
    display: none;
  }

  .navContainer {
   display: block;
   cursor:pointer;

   
   
  }
    
  .hamMenu a {
  color: white;
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  font-family: 'Podkova', serif;  
  background-color: #4e8aca;
  
  }
  .hamMenu.show {
    display:flex;
    flex-direction: column;
    
  }

  .hamLink:hover {
    background-color: white;
    color : #4e8aca;
  }
}


/****************************/
/*Main Photo in the homePage*/
.home_after_navbar {
  position:relative;
  display:flex;
  align-content: center;
  margin-top: 84px;
}

.homeMainPhoto {
  display: flex;
  height: 500px;
  width: 100%; 
  object-fit: cover;
  object-position: center;
  position: relative;
  
  
}

.homeTitle {
  display:flex;
  position: absolute;
  color: black;
  background-color: rgb(255, 255, 255, 0.3);
  font-size: 25px;
  width: fit-content;
  left:50%;
  transform: translateX(-50%);
  flex-direction: column;
  font-family: Playfair Display, serif ;
  border-radius: 10px;
  margin-top:10px;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.ewb {
  font-size: 40px;
  justify-content: center;
  text-align: center;
  margin-bottom: -30px;
  
}

.uky {
  font-size: 30px;
  justify-content: center;
  text-align: center;
  
  
}


h1,h2 {
 
  width: fit-content;
  color:black;
  text-transform: uppercase;
  
}



.homecaption {
  color: black;
  margin-top: 5px;
  margin-right:5px;
  text-align: right;
  font-family: Montserrat, serif;
  text-transform: uppercase;
  
}

/************************/
/*Homepage about us section*/

.homeHeading{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.aboutus{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:40px;
}

.homeparagraph {
  word-wrap: break-word;
  font-family: 'Podkova', serif;
  font-size: 25px;
  width: 80%;
  height: fit-content;
  text-align: center;
  line-height: 1.5;
  color:rgb(34, 34, 34)
 
}

.aboutgallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap:20px;
  justify-content: center;
  

}



/* image container */
.aboutimage {
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 
  
  
  
}

/* actual image */
.aboutimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  

}

.imagecaption {
  width: 100%;
  color: Black;
  font-size: 25px;
  font-family: Radley, sans-serif;
  text-align: center;
  font-weight: bold;
  
  
  
}


@media screen and (max-width: 1350px) {
  .aboutgallery{
    grid-template-columns: repeat(2, 1fr);

  }
}
  

/************************/
/*Homepage Current and Past Projects section*/

.homeproject_gallery {
  display: grid;

  grid-template-columns: repeat(2, 400px);
  gap: 20px;

  justify-content: center;

  margin-top: 50px;

  font-family: "Podkova", serif;
}

.projectImage {
  position: relative;

  width: 400px;
  height: 240px;

  overflow: hidden;
  border-radius: 12px;

  transition: 0.3s ease;
}

/* image */
.projectImage img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
  transition-duration: 0.3s;
}

/* caption overlay */
.projectCaption {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 12px;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  text-align: center;
  font-size: 18px;
}


.projectImage:hover {
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  transform: translateY(-10px);
  /*
  .projectDetail {
    display: block;

  }
  .projectTitle {
    font-size: 26px;
  }
  .projectParagraph {
    font-size: 18px;
  }
    */
}

.projectDetail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .homeproject_gallery {
    grid-template-columns: repeat(1, 400px);
  }
  
}




/************************/
/*Homepage Support section*/

.supportSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  margin-left: 40px;
  margin-right: 60px;
  text-align: center;
  font-family: 'Podkova', serif; 
  font-family: Podkova;
  align-items: center;
  
}

.supportparagraph{
  width:40%;
  word-wrap: break-word;
  font-size: 20px;
  

  
}

.sponorshippackage  {
  background-color: #ede2d1;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  width: 40%;
  font-size: 27px;

}

.sponorshippackage:hover {
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  transform: translateX(10px);
  text-decoration: underline;
  font-weight: bold;
}



/************************/
/*Homepage Footer section*/

.wtc {
  font-family: 'League Spartan', serif;
  text-align:center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom:80px;
  font-weight: bold;
  align-items: center;
  font-size: 20px;
  
}


.contribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap:wrap;
  margin-top: 100px;
  margin-bottom: 20px;
  

}

.footerHeadingOne {
  margin-bottom:-10px;
}
  
/* left and right sections */

.donation {
  
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  width: 60%;
  

}

/* middle section */

.donatelink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customDivider {
  height: 150px;
  width: 5px;
  background-color: black;
}

.headerParagraph{
  width:200px;
}

.smallScreenDonate{
    display:none;
}

 .donateButton {
    background-color: #4e8aca;
    font-family: "Podkova";
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 15px;
    
  }

.donateButton:hover {
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  transform: translateY(-10px);
  text-decoration: underline;
  font-weight: bold;
  
}

.wtctwo{
  display:none;
}

@media screen and (max-width: 1100px) {

  .donatelink{
    display:none;
  }
  .contribute {
    display: flex;
    flex-direction: column;
  }

  .donation {
    margin-top: 40px;
    
  }

  .smallScreenDonate{
    display:block;
  }


  .customDividerTwo {
  height: 5px;
  width: 80%;
  background-color: black;
  
  } 

  .donateButtonTwo{
    margin-bottom:30px;
  }

  .wtctwo{
    display:block;
    font-family: 'League Spartan', serif;
    text-align:center;
    text-transform: uppercase;
    font-size:30px;
    text-decoration: underline;
    font-weight: bold;

  }


}


/************************/
/*Events Page*/

.polaroidTitle {
  font-family: 'Podkova', serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 30px;
}
.eventGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  

}

.polaroid {
  width: 200px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: rgb(241, 237, 237);
  box-shadow: -1.5px 1.5px 5px #aaaaaa;
  text-align: center;
  font-family: 'Podkova', serif;
  color: black;
  transition:
    transform 0.1s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
  
  font-size: 20px;
  position: relative;
}



.polaroid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  
}





.polaroid:hover {
  transform:scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
  /*
  .eventDetail {
    display: block;
  }
  .eventTitle {
    font-size: 20px;
  }
  .eventParagraph {
    font-size: 16px;
  }
  .pin {
    background-color: rgb(10, 10, 86);
    z-index: 10;
    transform: translateX(-50%) scale(1.2);
    display: block;
  }
    */
  
}

.eventDetail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  box-sizing: border-box;
  
}



/********/
.involvedContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  
  
}
.involvedHeading {
  font-family: 'League Spartan', serif;
  text-transform: uppercase;
  /*align heading to the center of the page*/
  text-align: center;
  width: 100%;
  
}
.involvedParagraph {
  font-family: 'Montserrat', serif;
}



.upcomingEvent {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 3px solid black;
  border-radius: 10px;
  border-style:dashed;
  padding: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.upcomingEventHeading {
  font-family: 'Podkova', serif;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 10px;
}
.thisweekSection {
  font-family: 'Podkova', serif;
  font-size: 25px;
}








.calendar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'League Spartan', serif;
  font-size: 20px;

}
.calendarHeading {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-family: 'League Spartan', serif;
  font-size: 30px;
  align-items: center;
  color: black;
  font-weight: bold;
  
}


/**********************/
/*Footer Section*/
.footer{
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  
}

.lastfooterHeading {
  font-family: 'League Spartan', serif;
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  margin:0;
  
}
.connect img{
  display:block;
  height: 30px;
  width:30px;
}

.connectSection{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  

}

.contactSection{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;

}

.contactParagraph {
  
  font-family: 'League Spartan', serif;
  font-size: 20px;
  margin:0;
  
  
}

.lasttext {
  font-family: 'League Spartan', serif;
  text-align:center;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

