html, body {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* global link styling */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

main {
  padding-top: 110px;
}


/* navigation bar*/
.topnav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  align-items: center;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4e8aca;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  padding-right: 10px;
  padding-left:10px; 
  box-sizing: border-box;
}


.ewblogo img {
  display:block;
  height: 160px;
  width:250px;
  margin-top: -30px;
  margin-bottom: -10px;
}
  

.navLinks a {
  color : black;
  text-decoration: none;
  font-size: 25px;
  background-color: white;
  padding-right : 25px;
  padding-left: 25px;
  border-radius: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Podkova', serif;
  transition: background-color 0.3s;
}

.navLinks a:hover {
  background-color: #4e8aca;
  color : white;
  cursor:pointer;
}

a.active {
  background-color: #4e8aca;
  color : white;
}

/* code for hamburger icon for smaller screens*/
/* do not display ham bar*/
.navContainer{
  display:none;
}

.hamMenu{
  display:none;
}


@media screen and (max-width: 975px) {
  .navLinks {
    display: none;
  }

  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;
  }

  /*display the ham bars*/
  .navContainer {
   display: block;
   cursor:pointer;
  }

  .hamMenu.show {
  display:flex;
  flex-direction: column;
  position:fixed;
  top: 110px;
  z-index: 1000;
  width:100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px -6px rgba(0,0,0,0.35);
}
    
  .hamMenu a {
  color: white;
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  font-family: 'Podkova', serif;  
  background-color: #4e8aca;
  
  }
  
  .hamLink:hover {
    background-color: white;
    color : #4e8aca;
  }
}










/* Title section*/

.titleSection {
  position: relative;
}

.titlePhoto {
  height: 500px;
  width: 100%; 
  object-fit: cover;
  display: block;
}

.title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  flex-direction: column;
  color: black;
  background-color: rgb(255, 255, 255, 0.3);
  width: fit-content;
  z-index: 2;
  font-family: 'Playfair Display', serif ;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.ewb {
  font-size: 40px;
  justify-content: center;
  text-align: center;
  margin-bottom: -30px;
  width: fit-content;
  color:black;
  text-transform: uppercase;
}

.uky {
  font-size: 30px;
  justify-content: center;
  text-align: center;
  width: fit-content;
  color:black;
  text-transform: uppercase;
}


.titleCaption {
  color:black;
  margin-top: 5px;
  margin-right:5px;
  text-align: right;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  
}










/* About Us Section */
.aboutParagraph {
  font-family: 'Podkova', serif;
  font-size: 25px;
  margin-left: 30px;
  margin-right:30px;
  height: fit-content;
  text-align: center;
  line-height: 1.5;
  color:rgb(34, 34, 34)
 
}

.aboutgallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap:20px;
  justify-content: center;
}

/* image container */
.aboutimage {
  display: flex;
  flex-direction: column;
}

/* actual image */
.aboutimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.imagecaption {
  width: 100%;
  color: Black;
  font-size: 25px;
  font-family: 'Radley', sans-serif;
  text-align: center;
  font-weight: bold;
}










/** Past Projects Section **/
.heading{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.projectGallery {
  margin-top: 50px;
  font-family: "Podkova", serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  gap:20px;
  justify-content: center;
  overflow-x: hidden;
}

.projectImage {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: 0.3s ease;
}

/* image */
.projectImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition-duration: 0.3s;
}

/* caption overlay */
.projectCaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 18px;
}


.projectImage:hover {
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  transform: translateY(-10px);
  /*
  .projectDetail {
    display: block;

  }
  .projectTitle {
    font-size: 26px;
  }
  .projectParagraph {
    font-size: 18px;
  }
    */
}

.projectDetail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  box-sizing: border-box;
}








/*Events Section*/
/*calendar section*/ 
.calendar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'League Spartan', serif;
  font-size: 20px;
  overflow-x: hidden;

}
.calendarHeading {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-family: 'League Spartan', serif;
  font-size: 30px;
  align-items: center;
  color: black;
  font-weight: bold;
  
}

.calendar iframe {
    width: 100%;
    max-width: 1000px;
    height: 600px;
   
}

.upcomingEvent {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 3px solid black;
  border-radius: 10px;
  border-style:dashed;
  padding: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.upcomingEventHeading {
  font-family: 'Podkova', serif;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 10px;
}
.thisweekSection {
  font-family: 'Podkova', serif;
  font-size: 25px;
  
}

/*polariod section*/
.polaroidTitle {
  font-family: 'Podkova', serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 30px;
}
.eventGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  

}

.polaroid {
  width: 200px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: rgb(241, 237, 237);
  box-shadow: -1.5px 1.5px 5px #aaaaaa;
  text-align: center;
  font-family: 'Podkova', serif;
  color: black;
  transition:
    transform 0.1s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
  
  font-size: 20px;
  position: relative;
}

.polaroid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  
}

.polaroid:hover {
  transform:scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
  /*
  .eventDetail {
    display: block;
  }
  .eventTitle {
    font-size: 20px;
  }
  .eventParagraph {
    font-size: 16px;
  }
  .pin {
    background-color: rgb(10, 10, 86);
    z-index: 10;
    transform: translateX(-50%) scale(1.2);
    display: block;
  }
    */
  
}

.eventDetail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  box-sizing: border-box;
  
}






/*Involed Section*/
.involvedContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  
  
}
.involvedHeading {
  font-family: 'League Spartan', serif;
  text-transform: uppercase;
  /*align heading to the center of the page*/
  text-align: center;
  width: 100%;
  
}
.involvedParagraph {
  font-family: 'Montserrat', serif;
}







/*support Section*/
.support{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  margin-left: 40px;
  margin-right: 60px;
  text-align: center;
  font-family: 'Podkova', serif; 
  font-family: Podkova;
  align-items: center;
  overflow-wrap: break-word;
  
}

.supportparagraph{
  width:40%;
  word-wrap: break-word;
  font-size: 20px;
}



.sponorshippackage  {
  background-color: #ede2d1;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 30px;
  font-size: 20px;
  width: 40%;
  font-size: 27px;
}

.sponorshippackage:hover {
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  transform: translateX(10px);
  font-weight: bold;
}







/*Ways to contribute section*/

.wtc {
  font-family: 'League Spartan', serif;
  text-align:center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom:80px;
  font-weight: bold;
  align-items: center;
  font-size: 20px;
  
}


.contribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap:wrap;
  margin-top: 100px;
  margin-bottom: 20px;
}

.footerHeadingOne {
  margin-bottom:-10px;
}
  
/* left and right sections */

.donation {
  
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
}

/* middle section */

.donatelink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customDivider {
  height: 150px;
  width: 5px;
  background-color: black;
}

.headerParagraph{
  width:200px;
}

.smallScreenDonate{
    display:none;
}

 .donateButton {
    background-color: #4e8aca;
    font-family: "Podkova";
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 15px;
    
  }

.donateButton:hover {
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.35);
  transform: translateY(-10px);
  text-decoration: underline;
  font-weight: bold;
  
}

.wtctwo{
  display:none;
}

@media screen and (max-width: 1100px) {

  .donatelink{
    display:none;
  }
  .contribute {
    display: flex;
    flex-direction: column;
  }

  .donation {
    margin-top: 40px;
    
  }

  .smallScreenDonate{
    display:block;
  }


  .customDividerTwo {
  height: 5px;
  width: 80%;
  background-color: black;
  
  } 

  .donateButtonTwo{
    margin-bottom:30px;
  }

  .wtctwo{
    display:block;
    font-family: 'League Spartan', serif;
    text-align:center;
    text-transform: uppercase;
    font-size:30px;
    text-decoration: underline;
    font-weight: bold;
  }
}



/*Footer Section*/
.footer{
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  width:100%
  
}

.lastfooterHeading {
  font-family: 'League Spartan', serif;
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  margin:0;
  
}
.connect img{
  display:block;
  height: 30px;
  width:30px;
}

.connectSection{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  

}

.contactSection{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;

}

.contactParagraph {
  
  font-family: 'League Spartan', serif;
  font-size: 20px;
  margin:0;
  
  
}

.lasttext {
  font-family: 'League Spartan', serif;
  text-align:center;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}



















  





